/**
 * Div Table Style
 */
.div-table,
.div-table * {
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size : 12px;
}

.div-cell {
  position : relative;
  height : 100%;
  display : inline-block;
  float : left;
  border-right  : 1px solid #ccc;
  border-bottom : 1px solid #ccc;
  overflow : hidden;
}

.div-cell > * {
  padding-left : 5px;
  white-space : nowrap;
}

.div-edit-hidden,
.div-cell > .hide {
  position : absolute;
  top    : 0px;
  bottom : 0px;
  left   : 0px;
  right  : 0px;
  background-color : #ddd;
}

.div-header {
  height : 24px;
  line-height : 24px;
  border : 0px;
  color  : #fff;
  background-color : #3498db;
}

.div-header .div-cell {
  text-align : center !important;
  border : 0px;
}

.filter .div-header-filter {
  display : block;
}

.div-header-filter {
  display : none;
  height  : 26px;
  line-height : 26px;
  border  : 0px;
  color   : #fff;
  background-color : #ccc;
}

.div-header-filter .div-cell {
  border-right : 1px solid #3498db;
  padding : 4px;
}

.div-header-filter input {
  border : 0px;
  margin : 0px;
  width  : 100%;
  height : 100%;
  vertical-align : top;
}

.div-body {
  height :         calc(100% - 49px);   /* header: 24px + footer: 25px = 49px */
  height : -webkit-calc(100% - 49px);
  display : block;
  overflow-x : hidden;
  overflow-y : scroll;
}

.filter .div-body {
  height :         calc(100% - 75px);   /* header: 24px + filter: 26 + footer: 25px = 75px */
  height : -webkit-calc(100% - 75px);
  display : block;
  overflow-x : hidden;
  overflow-y : scroll;
}

.div-row {
  width : 100%;
  height : 22px;
  line-height : 22px;
}

.div-row:nth-child( odd ),
.div-row:nth-child( odd ) .hide{
  background-color : #ebebeb;
}

.div-row.select,
.div-row.select .div-edit-hidden,
.div-row.select input[type="text"],
.div-row.select .hide {
  color : #fff;
  background-color : #205495;
}

.div-row input,
.div-row select {
  width   : 100%;
  height  : 100%;
  margin  : 0px;
  border  : 0px;
}

.div-footer {
  height : 25px;
  padding-left : 2px;
  background-color : #8c9397;
}

.div-footer-button {
  display : inline-block;
  background : none;
  border : 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.div-footer-button:hover {
  background-color : #aaa;
  cursor : pointer;
}

.div-footer-counter {
  color : #fff;
  display: inline-block;
  float: right;
  padding-right : 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.div-filter {
  position : absolute;
  top    : 0px;
  right  : 0px;
  height : 24px;
  background-color : #3498db;
}

.div-filter > span {
  background-image    : url(images/ui-icons_fff_256x240.png);
  background-position : -192px -112px;
  display : block;
  width   : 16px;
  height  : 16px;
  overflow : hidden;
  background-repeat : no-repeat;
}

.div-filter:hover {
  background-color : #3b9dff;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image : url(images/ui-icons_fff_256x240.png);
  width  : 16px;
  height : 16px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

